# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS junk
.DS_Store

# PyCharm project files
.idea/

# Logs
*.log

# Flask instance folder
instance/

# Data and models
data/*.csv
models/*.pkl

# Deployment
*.db
*.sqlite3

# OS junk
Thumbs.db
ehthumbs.db
Icon?
